@charset "UTF-8";
/*
#c5ebd6
#83e1ad
#3ddc84
#2fa866
#1a5c37 
#063d1e

*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kaushan+Script&family=Roboto+Condensed:wght@700&display=swap');
@font-face {
    font-family: 'Android';
    src: url('/d10/fontes/idroid.otf') format('opentype');
    font-weight: normal;
}
*{
    margin: 0px;
    padding: 0px;
}
:root{
   --cor1: #c5ebd6;
   --cor2: #83e1ad;
   --cor3: #3ddc84;
   --cor4: #2fa866;
   --cor5: #1a5c37 ;
   --cor6: #063d1e ; 
   --font-padrao: Arial, Verdana, Helvetica, sans-serif;
   --font-destaque: 'Bebas Neue', cursive;
   --font-android: 'Android';
}

body{
    background-color: var(--cor1);
    font-family: var(--font-padrao);

}
header{
    background-color: var(--cor4);
}


header  h1{
    color: var(--cor3);
    font-family: var(--font-destaque);
    color: white;
}

header p{
    color: white;
}

nav {
    color:white;
    background-color: var(--cor5);
    
}
nav a {
    text-decoration: none;
    color: white;
}
main{
    background-color: white;
}
main  h1{
    color: var(--cor5);
    font-family: var(--font-android);
}
main h2{
    color: var(--cor5);
    font-family: var(--font-android);
    background: linear-gradient(to right, var(--cor3), white);
}

